

.contact {
  color: white;
  background-color: #708090;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Adjust the margin as needed */
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width to maintain readability */
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the contact form is above other elements */
}

.contact label {
  display: block;
  margin-bottom: 10px;
}

.contact input,
.contact textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

p.error {
  color: red
}
.contact button:hover {
  background-color: #0056b3;
}

textarea {
  max-width: 90%;
  min-width: 80%;
  min-height: 20px;
}

@media (max-width: 768px) {
  .contact {
    width: 80%;
    font-size: 18px;
  }
}
